@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Oswald:wght@400;600;700&display=swap');
body,
html {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #000000;
	font-size: 16px;
	line-height: 1.6;
}
b,
strong {
	font-weight: 700;
}

p {
	margin:0 0 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;

	/*Change*/
	font-family: 'Oswald', sans-serif;
	color: #000;
	font-weight: 700;
	margin-bottom: 20px;
}

h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
    margin-bottom: 0;
}

a {
	margin: 0;
	padding: 0;
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	/*Change*/
	color: #000;
}
a:hover {

	/*Change*/
	color: #35d74b;
}
img {
	max-width: 100%;
}


/*Change*/
h1{
	font-size: 60px;
	line-height: 1.1;
	text-transform: uppercase;
}
h2 {
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 20px;
	font-weight:600;
	text-transform: uppercase;
}
h3 {
	font-size: 20px;
	line-height: 1.2;
}
h4 {
	font-size: 18px;
	line-height: 1.6;
}
h5 {
	font-size: 16px;
	line-height: 1.8;
}
h6 {
	font-size: 14px;
	line-height: 1.9;
}

input[type="text"], input[type="tel"], input[type="password"], input[type="email"], select{
    background-color: #e5e5e5;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border-radius: 0;
    color: #fff;
    border: 0;
    height: 60px;
	padding: 0 22px;
	font-size: 17px;
	color: #000000;
	outline: 0 !important;

}
textarea {
    background-color: #e5e5e5;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border-radius: 0;
    border: 0;
    padding: 15px 22px;
    width: 100%;
	height: 179px;
	font-size: 17px;
	color: #000000;
	resize: none;
	outline: none !important;
}

select {
    border: 1px solid rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 0 11px;
    background: url(images/arrow_bottom.svg) no-repeat calc(100% - 16px) center transparent;
    background-size: 18px;
    padding-right: 40px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}


input[type="submit"] {
	margin-top: 25px;
    background-color: #17b2ff;
    color: #fff;
    height: 53px;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: normal;
    -webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 2px solid transparent;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	letter-spacing: 0.5px;
	min-width: 153px;
}
.frm_inn input[type="submit"] {
	width: 100%;
	min-width: 100%;
	margin-top: 0 !important;
}
input[type="submit"]:hover {
	border-color: #17b2ff;
	background-color: transparent;
	color: #17b2ff;
}

 ::-webkit-input-placeholder {
    opacity: 1;
    color: #000000;
}

 :-ms-input-placeholder {
    opacity: 1;
    color: #000000;
}

 ::-moz-placeholder {
    opacity: 1;
    color: #000000;
}

 :-moz-placeholder {
    opacity: 1;
    color: #000000;
}

.form-group {
    margin-bottom: 28px;
}

.labeltxt {
    font-weight: 300;
    margin-bottom: 10px;
}
ol li, ul li, dl li{
	margin-bottom: 10px;
}
ol li:last-child, ul li:last-child, dl li:last-child{
	margin-bottom: 0;
}
/* images alignment for wordpress content pages */
.alignright {
    float: right;
    margin: 0 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 0 20px 20px 0;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    float: none;
    clear: both;
}


/* custom radio */

.form_input_radio {
    position: relative;
    margin: 0;
    padding-left: 30px;
}

.form_input_radio span {
    margin: 0;
    padding: 0;
}

.form_input_radio input[type="radio"] {
    visibility: hidden;
    display: none;
}

.form_input_radio input[type="radio"]+span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 22px;
    height: 22px;
    border: 2px solid #000000;
    border-radius: 100%;
    background: #fff;
}

.form_input_radio input[type="radio"]+span::after {
    content: '';
    width: 12px;
    height: 12px;
    background: #4b0049;
    position: absolute;
    top: 6px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form_input_radio input[type="radio"]:not(:checked)+span::after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
        transform: scale(0);
}


/* .form_input_radio input[type="radio"]:checked + span::before {
      
    } */

.form_input_radio input[type="radio"]:checked+span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
}


/* custom radio end */

/* custom checkbox */
.form_input_check {
	position: relative;
	margin: 0;
	padding-left: 40px;
}

.form_input_check span {
	margin: 0;
	padding: 0;
}

.form_input_check input[type="checkbox"] {
	visibility: hidden;
	display: none;
}

.form_input_check input[type="checkbox"]+span::before {
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	width: 26px;
	height: 26px;
	border: 2px solid #000;
	background: transparent;
}

.form_input_check input[type="checkbox"]+span::after {
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	width: 26px;
	height: 26px;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	background: url(images/checked.svg) no-repeat center center #fff;
	background-size: 15px;
}

.form_input_check input[type="checkbox"]:not(:checked)+span::after {
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
/* .form_input_check input[type="checkbox"]:checked + span::before {
      
    } */

	.form_input_check input[type="checkbox"]:checked+span:after {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		    transform: scale(1);
	}
/**/

.btn {
	padding: 20px 0px;
	line-height: 1;
	color: #fff;
	background: #35d74b;
	font-size: 16px;
	text-transform: uppercase;
	border: 1px solid transparent;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	outline: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	text-transform: uppercase;
	min-width: 168px;
	font-weight: 600;
	border-radius: 0;
}
.ban_btn .btn{
	font-size: 14px;
}

.btn:hover {
	border-color: #35d74b;
	color: #35d74b;
	background-color: transparent;
}

.btn.wht_btn{
	color: #35d74b;
	background: #ffffff;
}
.btn.wht_btn:hover{
	color: #ffffff;
	background: transparent;
	border-color: #ffffff;
}
/*Header*/
.navbar-brand {
	padding: 0;
	margin: 0;
	width: 223px;
	display: inline-block;
	font-size: 0;
}
.hdr_sec {
	padding:0;
}
/*Nav*/
.navbar {
	background: none;
	margin: 0;
	padding: 0;
	min-height: inherit;
	height: inherit;
	border: none;
	border-radius: 0;
}

.navbar-nav li {
	position: relative;
	list-style: none;
}

.navbar-nav > li {
	margin: 0 9px;
	padding: 0;
	position: relative;
}

.navbar-nav > li:last-child {
	margin-right: 0;
}

.navbar-nav > li:first-child {
	margin-left: 0;
}

.navbar-nav > li > a {
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1;
	position: relative;
}
.navbar-nav > li > a:hover{
	color:#fff;
}

/*SubMenu*/
.sub-menu {
	background: #fff;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0;
	width: 200px;
	padding: 0;
}
.sub-menu>li {
	width: 100%;
	display: block;
}
.sub-menu>li>a {
	color: #000;
	display: block;
	width: 100%;
	padding: 13px 15px;
	line-height: 1.2;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 400;
}
.sub-menu>li>a:hover,
.sub-menu>li.menu-item-has-children:hover>a {
	background: #53c8e8;
	color: #fff;
}
.menu-item-has-children>a {
	padding-right: 16px;
}
.menu-item-has-children>a::after {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 12px;
	height: 8px;
	background: url(./images/drop_icn.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	content: "";
}
.menu-item-has-children>a::after {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 10px;
	height: 5px;
	background: url(./images/drop_icn.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	content: "";
}
/*Removed Ul Style*/
.ul_style > ul{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

/*******Customize Css********/

.navbar-nav {
	background-color: #17b2ff;
	/* padding: 32px 0px; */
	padding-left: 56px;
	position: relative;
}
.navbar-nav::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	-webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
	        clip-path: polygon(0 0, 0% 100%, 100% 100%);
	width: 56px;
	height: 100%;
	background-size: 100% 100%!important;
	background: #fff;
}
.hdr_sec{
	position: relative;
}
.hdr_sec::after {
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	background-color: #17b2ff;
	width: 40%;
	height: 100%;
	z-index: -1;
}


.navbar-nav > li > a {
	padding: 38px 0;
	display: inline-block;
}
.navbar-nav > li > a::after{
	position:absolute;
	top: 0;
	width: 2px;
	height: 0;
	content: "";
	background-color:#fff;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transition-delay: 0.3s;
	     -o-transition-delay: 0.3s;
	        transition-delay: 0.3s;
}
.navbar-nav > li > a:hover::after,.navbar-nav > li.current-menu-item > a::after{
	height: 25px;
}
.navbar-nav > li > a::before{
	position:absolute;
	top: 25px;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	content: "";
	background-color:transparent;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	
	opacity: 0;
	background-color:#fff;
}
.navbar-nav > li > a:hover::before,.navbar-nav > li.current-menu-item > a::before{
	opacity: 1;
}

.bnr{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 671px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
}
.ban_over{
	position: relative;
}
.ban_over .container {
	position: relative;
	z-index: 99;
}
.ban_over::after{
	position:absolute;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	background-color:rgba(0,0,0,0.5);
	left: 0;
	right: 0;
	margin: auto;
}
.ban_over .container{
	position: relative;
}
.ban_txt h1,.ban_txt p{
	color: #fff;
}
.ban_txt h1{
	line-height: 1.15;
}
.ban_txt p{
	font-size: 15px;
	margin-bottom: 30px;
	line-height: 1.7;
}
.ban_txt {
	max-width: 805px;
	margin: auto;
}
.ban_btn > a:first-child{
	margin-right: 18px;
}

.sec_gap{
	padding: 113px 0;
}
.abt_sec_row{
	margin: 0;
}
.abt_sec_row > div{
	padding: 0;
}
.innr_abt {
	padding: 45px 32px;
	-webkit-box-shadow: 1px 1px 30px 4px rgba(71,69,68,0.15);
	        box-shadow: 1px 1px 30px 4px rgba(71,69,68,0.15);
	background: #fff;
	margin-left: -64px;
	z-index: 99;
	position: relative;
}
.abt_lft{
	margin-bottom: 72px;
}
.abt_rgt{
	
	margin-top: 72px;
}

.dwn_mrk h2{
	position: relative;
	padding-bottom: 20px;
}
.dwn_mrk h2::after{
	position: relative;
}
.dwn_mrk h2::after{
	left: 0;
}
.dwn_mrk.text-center h2::after{
	left: 0;
	right: 0;
	margin: auto;
}
.dwn_mrk h2::after{
	position: absolute;
	content: "";
	bottom: 0;
	width: 60px;
	height: 2px;
	background-color: #17b2ff;
}
.innr_abt p{
	font-size: 15px;
	line-height: 1.5;
}
.bdy_txt p{
	margin-bottom: 22px;
}
.bdy_txt p:last-child{
	margin-bottom: 0;
}

.scale_hover{
	overflow: hidden;
}
.scale_hover img{
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.ser_txt{
	padding:30px 20px;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px 22px 4px rgba(71,69,68,0.15);
	        box-shadow: 1px 1px 22px 4px rgba(71,69,68,0.15);
}
.scale_hover:hover img{
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}
.ser_txt h3{
	color: #17b2ff;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.ser_txt p{
	margin-bottom: 5px;
}
.ser_row{
	margin: -20px;
}
.ser_clm{
	padding:20px;
}
.ser_img {
	overflow: hidden;
}

.ser_sec.ban_over::after,.help_sec.ban_over::after {
	background-color: rgba(0,0,0,0.10);
}
.hlp_row{
	margin: 0px -35px;
}
.hlp_lft,.hlp_rgt{
	padding:0px 35px
}
.hlp_txt p{
	font-size: 14px;
	margin-bottom: 0;
	line-height: 1.5;
}
.hlp_txt .btn{
	margin-top: 20px;
}
.hlp_txt {
	max-width: 590px;
}
.hlp_img {
	margin-top: -84px;
	margin-bottom: 44px;
}
.hlp_rgt{
	padding-top: 65px;
	padding-bottom: 113px;
	-ms-flex: 0 0 61.333333%;
	-webkit-box-flex: 0;
	        flex: 0 0 61.333333%;
	max-width: 61.333333%;
}
.hlp_lft {
	-ms-flex: 0 0 38.667%;
	-webkit-box-flex: 0;
	        flex: 0 0 38.667%;
	max-width: 38.667%;
}
.hlp_img img{
	width: 100%;
}


.ftr_si ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	list-style: none;;
	padding-left: 0;
	margin-bottom: 0;
}

.ftr_si ul li{
	margin-right: 25px;
	margin-bottom: 0;
	
}
.ftr_si ul li a{
	font-size: 22px;
	color: #fff;
}
.ftr_si ul li a:hover,.ftr_inn a:hover{
	color: #35d74b;
}

.ftr_inn p, .ftr_inn a {
	font-size: 17px;
	color: #fff;
	margin-bottom: 0;
}
.ftr_inn{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
footer {
	background-color: #000;
	padding: 32px 0;
}

.testomonial.sec_gap,
.recrutr_sec.sec_gap{
	padding-bottom: 200px;
}
.mid_p p{
	width: 76%;
	margin: auto;
}
.cmn_otr{
	margin-bottom: 30px;
}
.test_inn{
	padding:25px 20px;
	border-radius: 20px;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px 22px 4px rgba(118,116,116,0.15);
	        box-shadow: 1px 1px 22px 4px rgba(118,116,116,0.15);
}
.tes_top{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.tes_top h3{
	width: calc(100% - 68px);
	padding-left: 17px;
	font-weight: 600;

}
.tes_img{
	width: 68px;
	height:68px;
	border-radius: 100%;
	overflow: hidden;
}

.star_otr{
	margin-top: 22px;
	margin-bottom: 12px;
}
.star_otr > img{
	width: 108px;
}



/*Slider*/
.tesmnl_slider .slick-slide {
	padding: 15px;
}
.tesmnl_slider .slick-list{
	margin:-15px;
}
.slick-dots {
	bottom: 0px;
	bottom: 0;
	line-height: 1;
}
.slick-dots li {
	background-color: #848887;
	margin: 0px 6px;
	border-radius: 100%;
	opacity: 1;
}
.slick-dots li.slick-active {
	background-color: #17b2ff;
}
.slick-dots li button,.slick-dots li{
	height: 18px;
	width: 18px;
}
.slick-dots li button {
	opacity: 1;
	padding: 0;
}
.slick-dots li button::before {
	display: none;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
	padding-bottom: 68px;
}
.slick-slide{
	outline: none !important;
}
/**/


/*Inner Pages*/
.bnr.inn_ban {
	min-height: 450px;
}
.reverse_abt .innr_abt {
	margin-left: 0;
	margin-right: -64px;
	z-index: 99;
	position: relative;
}

.innr_abt2{
	padding: 80px;
	padding-right: 0!important;
}
.sky_bk{
	background-color: #039cbd;
}
.wht_hdr h2{
	color: #fff;
}
.dwn_mrk.wht_hdr h2::after {
	background-color: #fff;
}
.wht_hdr p{
	color: #fff;
}
.abt_full_lft {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.abt_full {
	position: relative;
	background-color: #039cbd;
}


/*Odd*/
.service_page > .abt_sec:nth-child(odd) .abt_lft{
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
}
.service_page > .abt_sec:nth-child(odd) .abt_rgt{
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}
.service_page > .abt_sec:nth-child(odd) .innr_abt {
	margin-right: -64px;
	margin-left: 0;
}


/*Even*/
.service_page > .abt_sec{
	position: relative;
}
.service_page > .abt_sec:nth-child(even)::after {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	background-color: rgba(0,0,0,0.5);
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(0,0,0,0.10);
}
.service_page > .abt_sec:nth-child(even){
	background-image: url(./images/serv_bk.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.innr_ar{
	margin-bottom: 30px;
}
.innr_ar:last-child{
	margin-bottom: 0;
}
.essen_img {
	border-radius: 32%;
	border-top-right-radius: 0!important;
	margin-bottom: 20px;
	overflow: hidden;
}
.essen_row h3{
	font-size: 25px;
	margin-bottom: 12px;
}
.essen_row{
	margin: -15px;
}
.essn_col{
	padding:15px
}


.clint_inn {
	-webkit-box-shadow:1px 1px 15px 2px rgba(71,69,68,0.15);
	        box-shadow:1px 1px 15px 2px rgba(71,69,68,0.15);
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	min-height: 219px;
	padding:15px;
}
.clint_otr{
	margin: -15px;
}
.clint_otr > div{
	padding: 15px;
}
.clint_img img{
	width: 280px;
}
.clint_inn{
	overflow: hidden;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.clint_inn:hover img{
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}
.clint_inn img{
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.clint_inn:hover {
	-webkit-box-shadow: 1px 1px 30px 2px rgba(71,69,68,0.20);
	        box-shadow: 1px 1px 30px 2px rgba(71,69,68,0.20);
}

.apply_txt p{
	line-height: 1.5;
}

.fhd{
	height: 54px;
	width: 100%;
	background-color:#17b2ff;
	position: relative;
}

.fhd::after, .fhd::before {
	position: absolute;
	content: "";
	width: 35px;
	height: 27px;
	bottom: -27px;
}
.fhd::before{
	left: 0;
	background: url(./images/blue_lft.png) no-repeat;
	background-size:100% 100%;
}
.fhd::after{
	right: 0;
	background: url(./images/blue_rgt.png) no-repeat;
	background-size:100% 100%;
	
}
.fhd_otr {
	width: calc(100% - 70px);
	margin: auto;
}
.frm_inn{
	padding-top: 27px;
}
.apply_frm {
	padding-left: 0;
}
.apply_txt {
	padding-right: 30px;
}
.frm_inn{
	-webkit-box-shadow: 1px 1px 22px 4px rgba(71,69,68,0.15);
	        box-shadow: 1px 1px 22px 4px rgba(71,69,68,0.15);
}
.frm_inn_inn {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 40px;
}
.frm_inn_inn h2{
	font-size: 28px;
}
.form_box:not(:last-child){
	margin-bottom: 19px;
}

.essen_img img{
	width: 100%;
}
.ytube_img{
	position: relative;
}
.ytube_img::after{
	position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color:rgba(0,0,0,0.5);
    left: 0;
    right: 0;
	margin: auto;
	z-index: 99;
}
.ytube_innr{
	position: relative;
}
.click_y{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: auto;
	z-index: 100;
	text-align: center;
}
.click_y {
	font-size: 50px;
	line-height: 1;
	color: #ff0000;
}
.click_y:hover{
	color: #17b2ff;
}
.y_tube {
	padding-bottom: 30px;
}

.ytube_otr {
	padding: 15px;
}
.y_tube .row {
	margin:-15px
}
.clint_frm {
	padding-top: 10px;
}
.clint_frm .form_box{
	margin-bottom: 30px;
}
.clint_frm input[type="submit"] {
	font-size: 14px;
	height: 45px;
}

.apply_in_row{
	margin:-10px -6px;
}
.apply_in_row > div{
	padding:10px 6px;
}
/*******************/
/**********Responsive*********/
/*******************/

/*Responsive*/
@media(min-width:1025px) {
	/*Nav Bar Css For Tab Version*/
	.clickD {
		display: none;
	}
	.navbar-nav li.menu-item-has-children:hover>.sub-menu {
		display: block;
	}
	/**/
}

@media only screen and (max-width: 1440px) {
	h1 {
		font-size: 50px;
	}
	.navbar-nav > li > a {
		font-size: 12.5px;
	}
	.navbar-brand {
		width: 210px;
	}
	.bnr {
		min-height: 570px;
	}

	.ban_txt p {
		font-size: 14px;
		margin-bottom: 20px;
		line-height: 1.7;
	}
	.btn {
		padding: 17px 0px;
		font-size: 15px;
		min-width: 160px;
	}
	.ban_btn .btn {
		font-size: 13px;
	}
	.ban_btn > a:first-child {
		margin-right: 15px;
	}

	.bdy_txt p {
		margin-bottom: 16px;
	}
	.innr_abt p {
		font-size: 14px;
	}
	h2 {
		font-size: 27px;
		margin-bottom: 15px;
	}
	.dwn_mrk h2 {
		padding-bottom: 15px;
	}
	body {
		font-size: 15px;
	}
	
	h3 {
		font-size: 18px;
	}
	.ser_txt h3 {
		margin-bottom: 10px;
	}
	.slick-dots li button, .slick-dots li {
		height: 15px;
		width: 15px;
	}
	.slick-dots li {
		margin: 0px 5px;
	}
	.hlp_txt .btn {
		margin-top: 15px;
	}
	.ftr_inn p, .ftr_inn a {
		font-size: 16px;
	}
	.ftr_si ul li {
		margin-right: 20px;
	}
	.ftr_si ul li a {
		font-size: 20px;
	}
	footer {
		padding: 25px 0;
	}
	.sec_gap {
		padding: 100px 0;
	}



	.clint_img img {
		width: 230px;
	}
	.clint_inn {
		min-height: 200px;
	}

	input[type="text"], input[type="tel"], input[type="password"], input[type="email"], select {
		height: 56px;
		padding: 0 20px;
		font-size: 15px;
	}
	.form_box:not(:last-child) {
		margin-bottom: 15px;
	}
	input[type="submit"] {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 18px;
		
	}

	textarea {
		height: 150px;
		font-size: 15px;
	}
	.clint_frm .form_box {
		margin-bottom: 25px;
	}


}

@media only screen and (max-width: 1199px) {
	p {
		margin: 0 0 10px 0;
	}
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 12px;
	}
	body {
		font-size: 14px;
	}
	.navbar-nav > li > a {
		font-size: 11.5px;
	}
	.navbar-nav > li {
		margin: 0 6px;
	}
	.navbar-brand {
		width: 150px;
	}
	.navbar-nav {
		padding-left: 30px;
	}
	.navbar-nav::before {
		width: 30px;
	}
	.navbar-nav > li > a {
		padding: 35px 0;
	}
	.navbar-nav > li > a:hover::after, .navbar-nav > li.current-menu-item > a::after {
		height: 18px;
	}
	.navbar-nav > li > a::before {
		top:18px;
		
	}


	h1 {
		font-size: 38px;
	}
	
	.ban_txt p {
		font-size: 13px;
		margin-bottom: 12px;
		line-height: 1.5;
	}
	.ban_txt {
		max-width: 615px;
	}
	.bnr {
		min-height: 470px;
	}

	.ban_btn > a:first-child {
		margin-right: 10px;
	}

	.btn {
		padding: 15px 0px;
		font-size: 14px;
		min-width: 140px;
	}
	.ban_btn .btn {
		font-size: 12px;
	}
	.sec_gap {
		padding: 75px 0;
	}

	.dwn_mrk h2 {
		padding-bottom: 10px;
	}
	h2 {
		font-size: 23px;
		margin-bottom: 12px;
	}
	.innr_abt p {
		font-size: 13px;
	}
	.bdy_txt p {
		margin-bottom: 10px;
	}
	.innr_abt {
		padding: 30px 25px;
		margin-left: -50px;
	}
	.abt_rgt {
		margin-top: 50px;
	}
	.abt_lft {
		margin-bottom: 50px;
	}
	.cmn_otr {
		margin-bottom: 20px;
	}
	h3 {
		font-size: 16px;
	}
	.ser_txt {
		padding: 20px 15px;
	}
	.ser_clm {
		padding: 12px;
	}
	.ser_row {
		margin: -12px;
	}
	.ser_row {
		margin: -12px;
	}
	.star_otr > img {
		width: 80px;
	}
	.star_otr {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.test_inn {
		padding: 20px 15px;
	}
	.slick-dotted.slick-slider {
		padding-bottom: 50px;
	}
	.testomonial.sec_gap, .recrutr_sec.sec_gap {
		padding-bottom: 120px;
	}
	.hlp_img {
		margin-top: -55px;
		margin-bottom: 40px;
	}
	.hlp_rgt {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.hlp_lft, .hlp_rgt {
		padding-left:25px;
		padding-right:25px;
	}
	.hlp_row {
		margin: 0px -25px;
	}
	.ftr_inn p, .ftr_inn a {
		font-size: 14px;
	}
	footer {
		padding: 20px 0;
	}



	/**/
	.bnr.inn_ban {
		min-height: 390px;
	}
	.reverse_abt .innr_abt {
		margin-right: -50px;
	}
	.innr_abt2 {
		padding: 60px;
	}


	.service_page > .abt_sec:nth-child(odd) .innr_abt {
		margin-right: -50px;
	}

	.essen_img {
		border-radius: 24%;
		margin-bottom: 16px;
	}
	.essen_row h3 {
		font-size: 22px;
		margin-bottom: 10px;
	}



	.clint_img img {
		width: 190px;
	}
	.clint_inn {
		min-height: 180px;
		padding: 10px;
	}


	.frm_inn_inn h2 {
		font-size: 22px;
		margin-bottom: 20px;
	}
	input[type="text"], input[type="tel"], input[type="password"], input[type="email"], select {
		height: 50px;
		padding: 0 15px;
		font-size: 14px;
	}
	.frm_inn_inn {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 25px;
	}
	.form_box:not(:last-child) {
		margin-bottom: 12px;
	}
	.fhd_otr {
		width: calc(100% - 50px);
	}
	.fhd {
		height: 45px;
	}
	.fhd::after, .fhd::before {
		width: 25px;
		height: 21px;
		bottom: -21px;
	}
	.frm_inn {
		padding-top: 22px;
	}
	input[type="submit"] {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 16px;
		height: 50px;
		margin-top: 20px;
	}


	.click_y {
		font-size: 40px;
	}

	textarea {
		height: 125px;
		font-size: 14px;
		padding: 15px 15px;
	}
	.clint_frm .form_box {
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 1024px) {
	/*NAV FOR TAB*/
	.menu-item-has-children>a::after {
		display: none;
	}
	.menu-item-has-children>a {
		padding-right: 20px;
	}
	.navbar-nav .clickD {
		position: absolute;
		right: 0;
		top: 8px;
		width: 20px;
		height: 20px;
		background: url(images/drop_icn.png) center center no-repeat;
		cursor: pointer;
		display: block;
		background-size: 9px;
	}
	.sub-menu.show {
		display: block;
	}
	.navbar-nav .sub-menu .menu-item-has-children .clickD {
		background: url(./images/sub_itemm.png) center;
		background-repeat: no-repeat;
		top: 8px;
	}
	/**/


	/*Custom*/
	.navbar-nav > li > a::before{
		transition: all 0.4s;
		transition-delay: 0s;
	}
	.navbar-nav > li > a::after{
		height: 18px;
		opacity: 0;
		transition-delay: 0s;
		transition: all 0.4s;
	}
	.navbar-nav > li > a:hover::after, .navbar-nav > li.current-menu-item > a::after {
		opacity: 1;
		height: 18px;
	}



	.apply_in_row{
		margin:-8px -5px;
	}
	.apply_in_row > div{
		padding:8px 5px;
	}
}
@media only screen and (max-width: 991px) {
	/*Nav Colps Css*/
	.navbar-toggler {
		border: 0;
	}
	.stick,
	.stick:after,
	.stick:before {
		width: 30px;
		height: 3px;
		background: #17b2ff;
		position: absolute;
		left: 0;
		top: auto;
		-webkit-transition: all 0.6s;
		-o-transition: all 0.6s;
		transition: all 0.6s;
		border-radius: 5px;
	}
	.stick:before {
		content: '';
		top: -10px;
		left: 0;
	}
	.stick:after {
		content: '';
		top: 10px;
		left: 0;
	}
	.stick.open {
		-webkit-transform: translateX(-50px);
		-ms-transform: translateX(-50px);
		transform: translateX(-50px);
		background: transparent;
	}
	.stick.open:before {
		-webkit-transform: rotate(45deg) translate(42px, -28px);
		-ms-transform: rotate(45deg) translate(42px, -28px);
		transform: rotate(45deg) translate(42px, -28px);
	}
	.stick.open:after {
		-webkit-transform: rotate(-45deg) translate(42px, 28px);
		-ms-transform: rotate(-45deg) translate(42px, 28px);
		transform: rotate(-45deg) translate(42px, 28px);
	}
	.navbar-nav .clickD {
		top: 7px;
		right: 15px;
	}
	.navbar-nav .clickD.toggled {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.sub-menu,
	.navbar-nav>li>.sub-menu .sub-menu {
		position: relative;
		width: 100%;
		left: inherit;
		top: inherit;
		border: none;
	}
	.navbar-nav>li.menu-item-has-children {
		padding-right: 0;
	}
	.navbar-nav>li {
		margin: 0;
		padding: 0;
	}
	.navbar-nav>li>a {
		padding:10px 30px 10px 50px;
		display: inline-block;
		width: 100%;
	}
	.sub-menu>li>a {
		padding-left: 40px;
	}
	.sub-menu .sub-menu>li>a {
		padding-left: 60px;
	}
	.sub-menu .sub-menu .sub-menu>li>a {
		padding-left: 80px;
	}
	.navbar-toggler {
		position: relative;
		width: 33px;
		margin-left: auto;
		height: 27px;
		padding: 0;
	}
	.navbar-collapse {
		margin-top: 20px;
	}
	.navbar-nav {
		padding: 20px 0;
	}
	.navbar-nav>li>a::after {
		bottom: 0;
	}
	.navbar-collapse {
		background: rgb(23, 46, 57);
	}
	.navbar-nav > li > a {
		font-size: 13.5px;
		color: #fff;
	}
	.navbar-nav > li > a:hover {
		color: #000;
	}

	

	/**/
	.hdr_sec {
		padding: 15px 0;
	}
	.hdr_sec::after {
		display: none;
	}
	.navbar-nav::before {
		display: none;
	}


	.navbar-nav > li > a::before {
		top: 50%;
		left: 18px;
		right: auto;
		transform: translateY(-50%);
	}
	.navbar-nav > li > a::after {
		bottom: 0;
		left: 0;
		right: auto;
		height: 2px;
		width: 18px;
	}
	.navbar-nav > li > a:hover::after, .navbar-nav > li.current-menu-item > a::after {
		height: 2px;
	}
	.navbar-brand {
		width: 200px;
	}
	


	h1 {
		font-size: 32px;
	}
	.bnr {
		min-height: 410px;
	}



	.abt_lft {
		height: 350px;
	}
	.abt_lft {
		margin-bottom: 0px;
	}
	.abt_rgt {
		margin-top: 0;
	}
	.innr_abt {
		padding: 30px 25px;
		margin-left: 0;
	}
	.sec_gap {
		padding: 55px 0;
	}
	.ser_row {
		margin: -5px;
	}
	.ser_clm {
		padding: 5px;
	}
	.ser_txt {
		padding: 20px 10px;
	}
	h3 {
		font-size: 15px;
	}
	.ser_txt p {
		font-size: 13px;
	}
	.slick-dots li button, .slick-dots li {
		height: 12px;
		width: 12px;
	}
	.hlp_lft, .hlp_rgt {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.hlp_txt p {
		font-size: 13px;
	}
	h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.hlp_img {
		margin-top: -30px;
		margin-bottom: 20px;
	}
	.hlp_rgt {
		padding-top: 25px;
		padding-bottom: 30px;
	}
	.btn {
		padding: 13px 0px;
		font-size: 13px;
	}
	.testomonial.sec_gap, .recrutr_sec.sec_gap {
		padding-bottom: 75px;
	}
	.ftr_inn p, .ftr_inn a {
		font-size: 13px;
	}
	.ftr_si ul li a {
		font-size: 18px;
	}


	/*Innr*/
	.bnr.inn_ban {
		min-height: 320px;
	}
	.reverse_abt .innr_abt {
		margin-right: 0;
	}
	.reverse_abt .abt_rgt{
		order: 2;
	}
	.innr_abt2 {
		padding: 30px 0 30px 40px;
	}


	.service_page > .abt_sec:nth-child(odd) .innr_abt {
		margin-right: 0px;
	}

	.service_page > .abt_sec:nth-child(odd) .abt_lft{
				order: 1;
	}
	.service_page > .abt_sec:nth-child(odd) .abt_rgt{
				order: 2;
	}
	

	.essen_img {
		border-radius: 20%;
		margin-bottom: 12px;
	}
	.essen_row h3 {
		font-size: 19px;
		margin-bottom: 8px;
	}



	.clint_img img {
		width: 150px;
	}
	.clint_inn {
		min-height: 150px;
		padding: 5px;
	}
	.clint_otr > div {
		padding: 10px;
	}
	.clint_otr {
		margin: -10px;
		margin-top: -10px !important;
	}

	.apply_frm{
		margin-top: 30px;
	}
	.apply_txt,.apply_frm{
		padding-left: 15px;
		padding-right: 15px;
	}
	.frm_inn_inn h2 {
		font-size: 18px;
		margin-bottom: 14px;
	}



	/**/
	.ytube_otr {
		padding: 6px;
	}
	.y_tube.row {
		margin:-6px
	}
	.innr_ar {
		margin-bottom: 20px;
	}
	.click_y {
		font-size: 34px;
	}
}

@media only screen and (max-width: 767px) {
	h1 {
		font-size: 26px;
		line-height: 1.25;
	}
	.ban_txt h1 {
		line-height: 1.25;
	}
	.bnr {
		min-height: 370px;
	}
	.bdy_txt p {
		margin-bottom: 8px;
	}
	.mid_p p {
		width: 100%;
	}
	.ser_img img {
		width: 100%;
	}
	.ser_clm {
		padding: 10px;
	}
	.ser_row {
		margin: -10px;
	}

	.tes_top {
		display: block;
	}
	.tes_top h3 {
		width: 100%;
		padding-left: 0;
		text-align: center;
		margin-top: 10px;
	}
	.tes_img {
		margin: auto;
	}
	.star_otr > img {
		width: 80px;
		margin: auto;
	}
	.test_inn p{
		text-align: center;
	}
	body{
		font-size: 13.5px;
	}
	.hlp_img {
		margin-top: 28px;
	}
	.hlp_rgt {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.hlp_lft, .hlp_rgt {
		padding-left: 10px;
		padding-right: 10px;
	}
	.hlp_row {
		margin: 0px -10px;
	}
	.ser_txt h3 {
		margin-bottom: 8px;
	}
	.sec_gap {
		padding: 45px 0;
	}
	.ftr_si ul li {
		margin-right: 16px;
	}
	.hlp_txt h2 {
		font-size: 18px;
	}
	.ser_txt {
		padding: 20px 15px;
	}


	/*Innr*/
	.sky_bk {
		background-color: rgba(3, 156, 189, 0.38);
	}
	.abt_full_rgt{
		margin: 25px 0;
	}
	.innr_abt2 {
		padding: 20px 30px !important;
	}
	.abt_full{
		position: relative;
	}
	.abt_full::after{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		content: "";
		background-color: rgba(0,0,0,0.3);
		left: 0;
		right: 0;
		margin: auto;
	}
	.sky_bk {
		background-color: rgba(3, 156, 189, 0.38);
		z-index: 99;
	}
	.bnr.inn_ban {
		min-height: 280px;
	}


}

@media only screen and (max-width: 575px) {
	h1 {
		font-size: 24px;
	}
	.ban_btn > a:first-child {
		margin-right: 5px;
	}
	.ban_btn .btn {
		font-size: 11.5px;
	}
	.btn {
		font-size: 12.5px;
		min-width: 130px;
	}
	.slick-dotted.slick-slider {
		padding-bottom: 35px;
	}
	.hlp_lft, .hlp_rgt{
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.hlp_img {
		margin-top: 0;
	}
	.hlp_rgt {
		padding-top: 0;
		padding-bottom: 0;
	}
	.testomonial.sec_gap, .recrutr_sec.sec_gap {
		padding-bottom: 45px;
	}
	.help_sec.ban_over {
		padding: 45px 0;
	}
	.hlp_img {
		margin-bottom: 25px;
	}
	.ftr_inn {
		flex-direction: column;
	}
	.ftr_inn p, .ftr_inn a {
		font-size: 12.5px;
		order: 2;
		margin-top: 6px;
	}
	.ftr_si ul li a {
		font-size: 16px;
		margin-top: 0;
	}
	.abt_lft {
		height: 250px;
	}


	.bnr.inn_ban {
		min-height: 230px;
	}
	.innr_abt2 {
		padding: 15px 20px !important;
	}

	.clint_otr > div {
		padding: 8px;
	}
	.clint_otr {
		margin: -8px;
		margin-top: -8px !important;
	}
	.clint_inn {
		box-shadow: 1px 1px 10px 2px rgba(71,69,68,0.15);
	}
	.clint_inn:hover {
		box-shadow: 1px 1px 10px 2px rgba(71,69,68,0.20);
	}


	.fhd {
		height: 30px;
	}
	.frm_inn_inn {
		padding-left: 12px;
		padding-right: 12px;
		padding-bottom: 20px;
	}
	.frm_inn {
		padding-top: 18px;
	}
	.fhd_otr {
		width: calc(100% - 30px);
	}
	.fhd::after, .fhd::before {
		width: 15px;
		height: 15px;
		bottom: -15px;
	}
	input[type="submit"] {
		font-size: 15px;
		height: 40px;
	}
	input[type="text"], input[type="tel"], input[type="password"], input[type="email"], select {
		height: 45px;
		padding: 0 15px;
		font-size: 13px;
	}
	.form_box:not(:last-child) {
		margin-bottom: 10px;
	}

	.navbar-brand {
		width: 185px;
	}

	textarea {
		height: 100px;
		font-size: 13px;
		padding: 12px 15px;
	}
	.clint_frm input[type="submit"] {
		font-size: 14px;
		height: 40px;
	}
	input[type="submit"] {
		min-width: 135px;
		margin-top: 15px;
		
	}
	.clint_frm .form_box {
		margin-bottom: 10px;
	}


	.apply_in_row{
		margin:-5px -5px;
	}
	.apply_in_row > div{
		padding:5px 5px;
	}
}

@media only screen and (max-width: 360px) {
	.navbar-brand {
		width: 180px;
	}
	.ban_txt h1 {
		font-size: 21px;
	}
	.innr_abt {
		padding: 20px 15px;
	}
	.ftr_inn p, .ftr_inn a {
		font-size: 11.5px;
	}
	.hlp_txt h2 {
		font-size: 17px;
	}
	.help_sec.ban_over,.sec_gap {
		padding: 35px 0;
	}
	.testomonial.sec_gap, .recrutr_sec.sec_gap {
		padding-bottom: 35px;
	}

	.frm_inn_inn h2 {
		font-size: 15px;
		margin-bottom: 15px;
	}
}