
*{
    margin:0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
body{
    font-size: 24px;
font-family: 'Roboto', sans-serif;
line-height: 30px;
font-weight: 300;
color: #6a6a6a;
-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}
a{
    text-decoration: none;
    
   
    color: #6a6a6a;
}
p{
padding: 0;
margin: 0 0 20px 0;
-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}
p:last-child{
  margin-bottom: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}
li{
     
       margin: 0;
       padding: 0;

}
img{
    max-width: 100%;
 
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0 0 20px 0;
        line-height: 1.2;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 37.72px;
    line-height: 41px;
    font-weight: 400;
}
h2{
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     font-size: 60px;
     color: #000000;
     margin-bottom: 30px;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #6a6a6a;
  margin-bottom: 30px;
  font-size: 24px;
}
h4{
     font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}
h6{
    font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}
figure{
    
    margin: 0;
}
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="number"], 
input[type="tel"]{
    font-size: 18px;
    line-height: 30px;
    background: #fff;
    padding: 14px 25px;
    color: #6a6a6a;
    text-align: left;
    width: 100%;
    font-weight: 400;
    border-radius:30px;
    border:1px solid #6a6a6a;
}
textarea.form-control{
    font-size: 18px;
    line-height: 24px;
    background: #fff;
    padding: 16px 25px;
    color: #6a6a6a;
    text-align: left;
    width: 100%;
    font-weight: 400;
    border-radius: 30px;
    border:1px solid #6a6a6a;
        height: 256px;
  }

.submit-btn{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7dc737+0,77bfd9+100 */
background: rgb(125,199,55); /* Old browsers */
background: -moz-linear-gradient(left, rgba(125,199,55,1) 0%, rgba(119,191,217,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(125,199,55,1) 0%,rgba(119,191,217,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(125,199,55,1) 0%,rgba(119,191,217,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dc737', endColorstr='#77bfd9',GradientType=1 ); /* IE6-9 */

font-size: 24px;
    line-height: 24px;
    padding: 16px 25px;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    border:0px solid #6a6a6a;
    text-align: center;
    cursor: pointer;
    min-width: 263px;
}
.submit-btn:hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#77bfd9+0,7dc737+100 */
background: rgb(119,191,217); /* Old browsers */
background: -moz-linear-gradient(left, rgba(119,191,217,1) 0%, rgba(125,199,55,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(119,191,217,1) 0%,rgba(125,199,55,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(119,191,217,1) 0%,rgba(125,199,55,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77bfd9', endColorstr='#7dc737',GradientType=1 ); /* IE6-9 */
  }
  .form-group{
    margin-bottom: 38px;
  }
button:focus{
  outline: none;box-shadow: none;
}

.pading{
    padding: 68px 0 82px;
}
.siteheader{
    padding: 14px 0;
}
.siteheader .navbar-nav > li > a{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
}
.siteheader .navbar-nav > li > a:before{
    position: absolute;
    content: "";
    bottom: -7px;
    left: 0;
  
    height: 3px;
    width: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  
  background-image: -moz-linear-gradient( 0deg, rgb(125,199,55) 0%, rgb(119,191,217) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(125,199,55) 0%, rgb(119,191,217) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(125,199,55) 0%, rgb(119,191,217) 100%);

  
}
.siteheader .navbar-nav > li > a:hover:before, .siteheader .navbar-nav > li.current-menu-item a:before{
    width: 100%;
        transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.siteheader .navbar-nav > li > a:hover, .siteheader .navbar-nav > li.current-menu-item a{
    color: #000000;
    text-decoration: none;
}
.siteheader .navbar-nav > li{
    margin-right: 21px;
    position: relative;
}
.siteheader .navbar-nav{
    margin-top: 50px;
}
.siteheader .navbar-nav > li:last-child{
    margin-right: 0;
}

.siteheader .navbar-nav > li ul{
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 1;
  background: #fff;
  width: 200px;
      border: 2px solid #8acb2b;
     display: none;
  }
  .siteheader .navbar-nav > li ul li{
   
    font-size: 16px;
        border-bottom: 1px solid #8acb2b;
  }
  .siteheader .navbar-nav > li ul li a{ 
    padding:5px 10px;
    display: inline-block;
    width: 100%;
  }
    .siteheader .navbar-nav > li ul li a:hover{
      background: #8acb2b;
      color: #fff;
      text-decoration: none;

    }
    .siteheader .navbar-nav > li ul li:last-child{
        border-bottom: 0;
    }
    .siteheader .navbar-nav > li:hover ul{
      display: block;
    }
.siteheader .navbar{
    padding: 0;
    margin: 0;
}
.topheader{
    position: relative;
}
.topdiv{
    position: absolute;
    right: 0;
    top: 9px;
    z-index: 10;
    font-size: 0;
    line-height: 0;
}
.topdiv li{
    border-right: 2px solid #7dc737;
   font-size: 18px;
  text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    line-height: 20px;
}
.topdiv li a{color: #000;} 



.topdiv li.header-call{
    color: #000000;
    background: url(images/mobile.png) no-repeat 0 0;
    padding-left: 35px;
   
    
}
.topdiv li a:hover{
    text-decoration: none;
    color: #7dc737;
}

.topdiv li.header-login{
     background: url(images/login_arrow.png) no-repeat right 0;
     padding-right: 50px;
}
.topdiv li:last-child{
  
 
   

   
      border-right: none;
}


.banner_txt h1 span{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.bannersec{
    position: relative;
}
.banner_item{
    position: absolute;
    bottom: 58px;
    left: 0;
    display: table;
    margin: 0 auto;
    display: block;
    right: 0;
}
.gradient:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7dc737+0,77bfd9+100 */
background: #7dc737; /* Old browsers */
background: -moz-linear-gradient(left, #7dc737 0%, #77bfd9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #7dc737 0%,#77bfd9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #7dc737 0%,#77bfd9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dc737', endColorstr='#77bfd9',GradientType=1 ); /* IE6-9 */
width: 100%;
height: 100%;
opacity: 0.79;
}
.banner_txt h1{
    color: #ffffff;
}
.viewbutton{
    font-size: 20px;
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     text-transform: uppercase;
     color: #ffffff;
     padding: 15px 44px;
     border: 3px solid #fff;
     display: inline-block;
     border-radius: 10px;
     margin-top: 16px;
}
.viewbutton:hover{
    text-decoration: none;
    background: #fff;
     border: 3px solid #fff;
     color: #88c159;
}
.work{
    text-align: center;
    background: #f1f2f1;
}

.sec-head{
      margin-bottom: 50px;
}
.work_img{
    position: relative;
}
.work_txt{
    position: absolute;
    content: "";
    right: 36px;
    bottom: -33px;
   
    width: 67px;
    height: 69px;
}
.work_txt1 h3{
    text-align: left;
    margin-bottom: 20px;
    font-size: 25px;
}
.work_txt1 p{
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 0;
    font-weight: 400;
}
.work_txt1 {
  padding-top: 52px;
padding-left: 16px;
padding-right: 16px;
padding-bottom: 40px;
    background: #fff;
}

.work_txt1 a:hover{
    text-decoration: none;
   color: #7ac381;
}
.box{width: 100%;
overflow: hidden;
margin: 0;
padding: 0;

}
.box img{
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.box:hover img{
    -webkit-transform: scale(1.2); -moz-transform: scale(1.2);
	-ms-transform:scale(1.2); -o-transform: scale(1.2);transform: scale(1.2);
}
.customer{
  
  background-image: -moz-linear-gradient( 0deg, rgb(125,199,55) 0%, rgb(119,191,217) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(125,199,55) 0%, rgb(119,191,217) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(125,199,55) 0%, rgb(119,191,217) 100%);
  


}
.owl-carousel .owl-dots{
    text-align: left;
   
}
.owl-carousel .owl-dots .owl-dot{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 0;
    margin-right: 14px;
}
.owl-carousel .owl-dots .owl-dot.active{
    background: #ffffff;
}
#owl-demo.owl-carousel .owl-nav button.owl-prev span, #owl-demo.owl-carousel .owl-nav button.owl-next span{
  display: none;
}
.item p{
  
     color: #ffffff;
     font-size: 18px;
     line-height: 24px;
     font-weight: 400;
     margin-bottom: 0;
}
.customer_img{
    position: relative;
    padding-left: 91px;

}
.customer_img .owl-carousel{
  padding-top: 20px;

}
.customer_img:after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 73px;
    height: 64px;
    background: url(images/left_arrow.png) no-repeat;
}
.customer_img .owl-dots{
  margin-top: 20px;

}
.custo_img{
    position: absolute;
}
.custo_img figure{
     border-top-right-radius: 25px;
     border-bottom-left-radius: 25px;
     overflow: hidden;
}
.thoughts {
    padding-top: 120px;
}
.thoughts h2{
    text-align: center;
}
.thoughts_img img{
    width: 100%;
}
.thoughts_img figure{
     border-top-right-radius: 25px;
     border-bottom-left-radius: 25px;
     overflow: hidden;
}
.thoughts_txt p{
   
    
}
.quote{

  background-image: -moz-linear-gradient( 0deg, rgb(125,199,55) 0%, rgb(119,191,217) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(125,199,55) 0%, rgb(119,191,217) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(125,199,55) 0%, rgb(119,191,217) 100%);

}
.quote h2{
    color: #ffffff;
    text-align: center;
}
.form-holder input[type="text"]{font-size: 18px; line-height: 24px;
transition: 0.5s;background: #fff;padding: 16px 25px;color: #6a6a6a;text-align: left;width: 100%; font-family: 'Roboto', sans-serif;font-weight: 400;border-radius: 50px;border: #fff;}
.form-holder input[type="submit"]{font-size: 24px; line-height: 24px; 
 color: #ffffff;background: transparent;transition: 0.5s; padding: 14px 0; cursor: pointer;width: 100%;font-family: 'Roboto', sans-serif;
 text-transform: uppercase;
font-weight: 700;text-align: center;border: 2px solid #fff;border-radius: 50px;}
.form-holder input[type="submit"]:hover{ color: #6a6a6a;background: #fff;}
.footer_part1{
    background: #383838;
    padding: 72px 0;
}
.footer_part1 h6{
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 7px;
}
.footer_part1 p{
    font-size: 13px;
 
    font-weight: 400;
    line-height: 18px;
    color: #fff;
    margin-top: 27px;
    margin-bottom: 0;
}
.footer_heading a{
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #7dc737;
    font-weight: 400;
    
}
.footer_heading a:hover{
    text-decoration: none;
    color: #fff;
}
.footer_anchor a{
     font-size: 13px;

    font-weight: 400;
    line-height: 1;
    color: #ffffff;
    display: inline-block;
}
.footer_anchor a:hover, .footer_anchor li.current-menu-item a{
    text-decoration: none;
    
    color: #7dc737;
    
}
.footer_anchor{
    margin-top: 18px;
}
.footer_anchor ul{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
        line-height: 0;
    font-size: 0;
}
.footer_anchor li{
    display: block;
    line-height: 1;

        -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px 15px;
}
.footer_anchor li a{
    background: url(images/small_arrow.png) no-repeat 0 4px;
    padding-left: 12px;
  
}
.address{
    font-size: 14px;
    color: #ffffff;
   
    font-weight: 300;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.tel{
    font-size: 14px;
    color: #ffffff;
    
    font-weight: 300;
    line-height: 32px;
}
.tel:hover{
    text-decoration: none;
    
    color: #7dc737;
}
.footer_anchor2 ul{
    margin-top: 23px;
    line-height: 1;
}
.footer_anchor2 ul li{
  margin-bottom: 3px; padding:4px 0;  padding-left: 21px;
  }
.footer_anchor2 li.foot-address{
    background: url(images/map.png) no-repeat 0 8px;

}
.footer_anchor2 li.foot-call{
    background: url(images/footer_mobile.png) no-repeat 2px center;
  
}
.scrollToTop{
    background: url(images/scroll_top.png) no-repeat;
    width: 42px;
    height: 42px;
    position: fixed;
    right: 78px;
    bottom: 20px;
    z-index: 100;
    display: none;
    text-indent: -99999px;
    background-position: 0 0;
}
.scrollToTop:hover{
    background-position: 0 -47px;
}
.end_footer{
    background: #000000;
    padding: 16px 0;
    text-align: center;
}
.end_footer p{
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 16px;
    color: #ffffff;
        font-weight: 700;
}
.end_footer p span{

    color: #7dc737;
}
.work_img img{
    width: 100%;
}

/*landing open*/
.landing{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7dc737+0,77bfd9+100 */
background: rgb(125,199,55); /* Old browsers */
background: -moz-linear-gradient(left, rgba(125,199,55,1) 0%, rgba(119,191,217,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(125,199,55,1) 0%,rgba(119,191,217,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(125,199,55,1) 0%,rgba(119,191,217,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dc737', endColorstr='#77bfd9',GradientType=1 ); /* IE6-9 */
width: 100%;
height: 100%;

z-index: 1;

}
.landing-head{
  text-align: center;
}
.landing-cont{
  position: relative;
  z-index: 2;
}
.landing-logo{
  display: inline-block;
  margin-bottom: 20px;
}
.landing-phone-cont{
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  display: inline-block;
      padding: 2px 34px;
    padding-bottom: 4px;
  padding-left: 44px;
  background: url(images/landing-phone.png) 22px center no-repeat;

}
.landing-phone-cont a{
  font-size: 21px;
  line-height: 1;
  font-weight: 700;
  color: #fff;

}
.landing-phone-cont a:hover{
  text-decoration: none;
    color: #e0e0e0;

}
.landing-head{
  margin-bottom: 40px;
  margin-top: 28px;
}
.landing-inner h2{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #fff;
  font-size: 60.25px;
  line-height: 1;
  margin-bottom:42px;

}
.landing-list ul{
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin:0 -15px;
  text-align: center;

}
.landing-list ul li{
  padding: 0 15px;
  margin:0;
  display: inline-block;
  width: 29.33%;

}
.landing-list-item figure{
  width: 145px;
  height: 145px;
  border-radius: 100%;
  border: 2px solid #fff;
  position: relative;
  display: inline-block;
  margin-bottom: 26px;
}
.landing-list-item figure img{
  height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.default-btn2{
  display: inline-block;
  padding:20px 20px;
  line-height: 1;
  border-radius:10px;
  border:3px solid #fff;
  background: transparent;
  font-size: 17.56px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.default-btn2:hover{
    text-decoration: none;
    background: #fff;
   
    color: #88c159;
    }
.landing-list-item .default-btn2{
  min-width: 260px;

}
.landing-area{
  padding-bottom: 512px;
  position: relative;
  overflow:hidden;

}
.landing-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

}
.landing-footer-bg{
  height: 480px;
  position: relative;
  overflow: hidden;

}
.landing-footer-bg:before{
         content: "";
    width: 2500px;
    height: 2500px;
    position: absolute;
    left: 0;
    right: 0;
    top: 283px;
    margin: 0 auto;
    background: #fff;
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  .footer-img{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  
    max-width: 648px;
    bottom: 0;

  }



/*landing end*/
/*contact open*/
.inner-banner{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7dc737+0,77bfd9+100 */
background: rgb(125,199,55); /* Old browsers */
background: -moz-linear-gradient(left, rgba(125,199,55,1) 0%, rgba(119,191,217,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(125,199,55,1) 0%,rgba(119,191,217,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(125,199,55,1) 0%,rgba(119,191,217,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dc737', endColorstr='#77bfd9',GradientType=1 ); /* IE6-9 */
text-align: center;
padding: 126px 0;

}

.inner-banner h2{
  margin: 0;
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  position: relative;
  display: inline-block;
  padding-bottom: 12px;

}
.inner-banner h2 span{
  font-weight: 700;
}
.inner-banner h2:before{
  content: "";
  width: 58%;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.sec-head{
  text-align: center;

}
.sec-head h2:last-child{
  margin-bottom: 0;

}
.inner-cont{
  padding: 68px 0;

}

p.contact-facebook{
  font-size: 24px;
  color: #6a6a6a;
  font-weight: 700;

}
p.contact-facebook a{
  margin-left: 20px;
  display: inline-block;
  -moz-transition:  0.4s linear all;
  -webkit-transition:  0.4s linear all;
  -ms-transition:  0.4s linear all;
   transition:  0.4s linear all;
}
p.contact-facebook a:hover{
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
.map{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;

}

.map iframe{
  width: 100%;
  height: 450px;
  border: 0;

}
.navbar-toggler{
  border-radius: 0;
}
/*contact end*/
/*******responsive*******/
  @media (max-width: 1400px){
.landing-footer-bg:before{
  top: 188px;
  }
}
  @media (max-width: 1366px){
  .footer-img{
  max-width: 48%;
}
}
@media(max-width: 1199px){
  body{line-height: 24px;font-size: 18px;}
    .banner_txt .viewbutton{padding: 12px 34px;}
    .work_txt{bottom: -22px;width: 50px;height: 50px;}
    .work_txt1 h3{font-size: 21px;}

   /* .work_txt1{padding-top: 41px;padding-bottom: 13px;}*/
   

   
   
    .pading {    padding: 50px 0 70px;}
    .thoughts{margin-top: 41px;}
}
@media(max-width: 1024px){
.landing-phone-cont {

    padding: 5px 34px;
    padding-bottom: 4px;
        padding-left: 44px;
  }
  .footer_anchor2 li.foot-address {
    background: url(images/map.png) no-repeat 0 7px;
}
.footer_anchor2 li.foot-call{
  padding-top: 6px;
}
}

@media(max-width: 1023px){
  .form-holder input[type="text"] {font-size: 16px;line-height: 20px;}
    .pading {padding: 43px 0;}
    .form-holder input[type="submit"] {font-size: 18px;line-height: 15px;}
    
}
@media(max-width: 991px){
  h2{font-size: 55px;}
  .siteheader .navbar-toggler{
margin-top: 52px;
padding: 0;
  }
      .siteheader .fa-bars{background: #9cd459;padding: 7px 14px;color: #fff;}

    .siteheader .navbar-nav {text-align: left;margin-top: 0;    border: 2px solid #8acb2b;}
    .siteheader .navbar-nav > li {margin-right: 0;/*margin-bottom: 10px;*/}
    .siteheader .navbar-nav > li:last-child{margin-bottom: 0;}
    .work .sec-head{
      margin-bottom: 0;

    }
    .work p{font-size: 21px;}
    .work_txt1 h3 {min-height: 52px;}
   .work_img{margin-top: 30px;}
   .work p {margin-bottom: 0;}
   .pading {padding: 38px 0;}
   .thoughts{margin: 0;}
  /* .form-holder input[type="text"]{padding: 11px 15px;}*/
   .form-holder input[type="submit"]{    line-height: 16px;
    padding: 16px 0;}
   .footer_heading h6{font-size: 14px;}
  .footer_anchor2 li.foot-address {background: url(images/map.png) no-repeat 0 7px;}
  
   .footer_part1 {padding: 55px 0;}
   
   .siteheader .navbar-collapse{position: absolute;
        top: 115px;
    z-index: 10;
    background: #fff;
    right: 0;
        min-width: 262px;
    /*padding: 20px;*/}

    .landing-list ul li{
    width: 100%;
    margin-top: 40px;

  }
.siteheader .navbar-nav > li > a:before{
  display: none;
}
   .siteheader .navbar-nav li a{

        padding: 5px 10px;
            display: inline-block;
    width: 100%;

   }
   .siteheader .navbar-nav li  {
    font-size: 16px;
    border-bottom: 1px solid #8acb2b;
  }
  .siteheader .navbar-nav > li > a {
    font-size: 15px;
  }
  .siteheader .navbar-nav > li ul{
    position: relative;
    top: 0;
  }
  .siteheader .navbar-nav > li > a:hover, .siteheader .navbar-nav > li.current-menu-item a{
    background: #8acb2b;
    color: #fff;
  }
    .landing-list ul li:first-child{
      margin-top: 0;
    }
    .sec-head br{
      display: none;

    }
     .form-holder{
    padding: 10px 0;

    }
    .inner-banner{
      padding:60px 0;
    }
    input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"], textarea.form-control{
      padding: 9px 25px;
    }
    .sec-head {
    margin-bottom: 30px;
}
.footer_anchor li {

    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

}
textarea.form-control{
  height: 226px;
}

}
@media(max-width: 767px){
  h2{font-size: 36px;margin-bottom: 10px;}
    .logo{width: 122px;}
    .banner_txt h1{font-size: 21.72px;line-height: 25px;}
    .banner_txt .viewbutton {padding: 6px 24px;
    font-size: 14px;
    margin-top: 13px;
    border-radius: 5px;}
     
    .work p {font-size: 17px;}
    .work_img {margin-top: 22px;}
  
    .thoughts p{font-size: 17px}
    .custo_img{position: inherit;margin-top: 27px;}
    .owl-nav{display: none;}
    .thoughts_txt{margin-top: 26px;}
   
    .form-holder input[type="text"] {margin-bottom: 12px;}
    .footer_part2{margin: 30px 0;}
    .footer_part1 {padding: 40px 0;}
    .pading {    padding: 40px 0 50px;}
    .banner_item{bottom: 18px;}
    .scrollToTop{right: 42px;}
    .landing-inner h2{
    font-size: 40.25px;
    margin-bottom: 32px;
}
.landing-list-item figure img {
    height: 48px;
    }
    .landing-list-item figure {
    width: 122px;
    height: 122px;
  }
  .default-btn2 {
    display: inline-block;
    padding: 16px 18px;
  }
  .sec-head{
    margin-bottom: 20px;
  }
  .work .col-md-6:first-child .work_img{


  }
  .work_txt1 h3{
    min-height: inherit;
  }
  .work_txt1 {
    padding-top: 40px;
  }
  .custo_img img{
    width: 100%;

  }
.form-holder {
    padding: 0;
}
.form-group {
    margin-bottom: 20px;
}
textarea.form-control{
  height: 192px;
}
.submit-btn{
  width: 100%;
}
p.contact-facebook a{
  width: 40px;
  height: 40px;
}
.inner-banner{
      padding:40px 0;
    }
    .inner-banner h2{
      font-size: 35px;
      line-height: 40px;
          padding-bottom: 9px;
    }
    .footer_anchor2 li.foot-address {
   /* background: url(images/map.png) no-repeat 0 center;*/
}
.siteheader .navbar-collapse {
   
        top: 102px;
    }
    .topdiv {

    top: 2px;
  }
}
@media(max-width: 479px){
    body{line-height: 23px;font-size: 16px;} h2 {font-size: 30px;line-height: 34px;}
    .topdiv li:first-child{background-size: 15px;}
    .topdiv li:last-child{padding-right: 38px;background-size: 27px;float: right;}
    .topdiv {position: inherit;right: inherit;top: inherit;}
    .topdiv li{border-right: none;}
    .siteheader .fa-bars {margin-top: 7px;}
    .banner_txt .viewbutton {padding: 0px 15px;font-size: 12px;margin-top: 5px;border: 1px solid #fff;}
    .banner_txt h1 {font-size: 15.72px;line-height: 19px;}
    
    .customer_img{padding-left: 42px;}
    .customer_img::after{width: 33px;height: 29px;background-size: cover;}
    .owl-carousel .owl-dots .owl-dot{margin-top: 20px;}
   
    
    .pading {    padding: 30px 0 40px;}
    .footer-img{
  max-width: 80%;

}
.landing-inner h2 {
    font-size: 34.25px;
    margin-bottom: 28px;
}
.topdiv li{
      padding: 3px 20px;
}
.siteheader .navbar-toggler {
    margin-top: 6px;
  }
  .logo {
  
    margin-top: 10px;
}
.siteheader .navbar-collapse {
    top: 96px;
}
}